
/*LCD */


#mini-lcd {
    font-weight: bold;
    text-align: center;
     background-color: transparent;
    text-shadow: 0.3ex 0.3ex 0.2ex #2e466e, -0.3ex 0.3ex 0.2ex #c5b9b9, 0.3ex -0.3ex 0.2ex #c5b9b9, -0.3ex -0.3ex 0.2ex #415989, 0.7ex 0.7ex 1.9ex #415989, 0.7ex 0.7ex 1.9ex #415989, 0.7ex 0.7ex 1.9ex #415989;


}